@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:          330 6% 4%;
  --foreground:          330 9% 96%;
  --card:                330 6% 10%;
  --card-foreground:     330 9% 96%;
  --popover:             330 6% 10%;
  --popover-foreground:  330 9% 96%;
  --primary:             330 60% 65%;
  --primary-foreground:  0 0% 4%;
  --secondary:           330 15% 20%;
  --secondary-foreground:330 9% 96%;
  --muted:               330 9% 19%;
  --muted-foreground:    330 6% 76%;
  --accent:              330 18% 19%;
  --accent-foreground:   330 9% 96%;
  --destructive:         0 84% 60%;
  --destructive-foreground:0 0% 98%;
  --border:              330 9% 16%;
  --input:               330 9% 16%;
  --ring:                330 60% 65%;
  --radius:              0.5rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}