:root {
  --background: 30 56% 96%;
  --foreground: 336 18% 15%;

  --card: 0 0% 100%;
  --card-foreground: 336 18% 15%;

  --primary: 350 89% 60%;
  --primary-foreground: 0 0% 100%;

  --secondary: 142 77% 73%;
  --secondary-foreground: 142 40% 15%;

  --muted: 356 100% 97%;
  --muted-foreground: 336 18% 50%;

  --accent: 356 100% 97%;
  --accent-foreground: 336 18% 15%;

  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 100%;

  --border: 336 20% 88%;
  --input: 336 20% 88%;
  --ring: 350 89% 60%;

  --radius: 1rem;
}
